header{
        background-color:#151F24;
}
nav{
        background-color: #151F24;
        text-align: right;
}
             
a{      color:#FFF;
        font-size: 20px;
        font-family: "Fira Code",Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-decoration: none;
        margin-right: 30px;
}
#button{
        display: inline-block;
        background-color: teal;
        padding-right: 20px;
        padding-left: 20px;
        line-height: 60px;
        box-shadow: 5px 5px 0px black;

        }
  
